*{
    padding: 0px;
    margin: 0px;
}

.main{
border: 1px;
border-style:dashed;
border-color: black;
width: 500px;
text-align: center;
/* font-family:  'Calibri'; */
border-radius: 5%;
}

.tit{
    color: chocolate;
    font-style: italic;
    font-family:  'Calibri';
}

.inp,.lists{
    color: chocolate;
    font-style: italic;
    font-family:  'Calibri';
}
.tsk{
    font-family: 'Calibri';
    color: black;
    font-size: medium;
}
.tsk:focus{
    background-color: lightblue;
    color: black;
}

.btn{
    background-color: rgb(60, 128, 24);
    color: bisque;
    text-decoration: solid;
    cursor: pointer;
    font-family:  'Calibri';
    padding: 3px;
    border: 2px;
    width : 50px;
    border-style: solid;
    border-radius: 25%;
    font-size: large;
    margin: 3px;
}

.btn2{
    background-color: chocolate;
    color: bisque;
    text-decoration: solid;
    cursor: pointer;
    font-family:  'Calibri';
    padding: 3px;
    border: 2px;
    width : 50px;
    border-style: solid;
    border-radius: 25%;
    font-size: large;
    margin: 3px;
}

.ul{
    align-items: normal;
}